<template>
    <div class="" v-bind:class="{ sticky: isSticky }" ref="sticky">
        <slot></slot>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isSticky: false,
            check: null,
            lastScrollTop: 0
        };
    },
    mounted() {
        this.main();
        this.registerEvent();
    },
    methods: {
        registerEvent() {
            window.addEventListener("scroll", this.check);
        },
        removeEvent() {
            window.removeEventListener("scroll", this.check);
        },
        getScrollTop() {
            return window.pageYOffset || document.documentElement.scrollTop;
        },
        main() {
            this.lastScrollTop = this.getScrollTop();

            this.check = () => {
                const threshold = 220;
                const hideScrollUp = false;
                const currentScrollPos = this.getScrollTop();

                const isOverThreshold = currentScrollPos > threshold;
                const isScrollDown = currentScrollPos >= this.lastScrollTop;

                const newIsSticky = isScrollDown
                    ? // down-scrolled - are we over threshold ?
                      isOverThreshold
                    : // up-scrolled - EITHER we don't care OR are we over threshold ?
                    hideScrollUp
                    ? false
                    : isOverThreshold;

                this.lastScrollTop = currentScrollPos;

                if (this.isSticky !== newIsSticky) {
                    this.isSticky = newIsSticky;
                }
            };
        }
    }
};
</script>

<style>
.sticky {
    top: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 10;
}
</style>
