<template>
    <form class="text-sm px-3 pt-5">
        <div>
            <label class="form-label">Naam*</label>
            <input
                class="form-input text-sm"
                for="naam"
                type="text"
                required
                v-model="name"
            />
        </div>
        <div class="mt-1">
            <label class="form-label">Telefoonnummer*</label>
            <input
                class="form-input text-sm"
                type="text"
                required
                for="telefoonnummer"
                v-model="contactNumber"
            />
        </div>
        <div class="mt-1">
            <label class="form-label">Email*</label>
            <input
                class="form-input text-sm"
                type="email"
                required
                for="email"
                v-model="email"
            />
        </div>
        <div class="mt-8">
            <label for="straatnaam en huisnummer" class="form-label"
                >Straatnaam en huisnummer*</label
            >
            <input
                class="form-input text-sm"
                type="text"
                required
                v-model="address"
            />
        </div>
        <div class="mt-1">
            <label for="postcode" class="form-label">Postcode*</label>
            <input
                class="form-input text-sm"
                type="text"
                required
                v-model="zipCode"
            />
        </div>

        <div class="mt-1">
            <label for="plaatsnaam" class="form-label">Plaatsnaam*</label>
            <input class="form-input text-sm" type="text" v-model="city" />
        </div>
        <div class="mt-2">
            <div v-for="(value, key) in errors" :key="key">
                <p class="text-xs text-red-700">{{ value }}</p>
            </div>
        </div>
    </form>
</template>

<script>
import { mapFields } from "vuex-map-fields";
export default {
    computed: {
        // The `mapFields` function takes an array of
        // field names and generates corresponding
        // computed properties with getter and setter
        // functions for accessing the Vuex store.
        ...mapFields([
            "name",
            "contactNumber",
            "address",
            "zipCode",
            "city",
            "email",
            "errors"
        ])
    }
};
</script>

<style></style>
