<template>
    <div class="h-full w-full">
        <div class="flex">
            <div class="content">
                <hero :shopSettings="shopSettings" />
                <div class="flex flex-col ">
                    <sticky>
                        <category-menu
                            :categories="
                                categories.map(category => {
                                    return {
                                        id: category.id,
                                        name: category.name
                                    };
                                })
                            "
                        />
                    </sticky>

                    <div class=" px-2 md:px-8 max-w-screen-xl mx-auto w-full ">
                        <product-list :categories="filteredProductList" />
                    </div>
                </div>
            </div>
            <cart :orderSettings="orderSettings" :products="products" />
        </div>
    </div>
</template>

<script>
import Cart from "../components/Cart/Cart.vue";
import Hero from "../components/Hero/Hero.vue";
import ProductList from "../components/Products/ProductList.vue";

import { mapGetters } from "vuex";
import Sticky from "../common/components/Sticky.vue";
import CategoryMenu from "../components/CategoryMenu/CategoryMenu.vue";
import { SET_ERRORS } from "../store/mutations.type";
export default {
    components: { Hero, ProductList, Cart, Sticky, CategoryMenu },
    props: {
        categories: {
            type: Array,
            default: []
        },
        errors: Object,
        shopSettings: Object,
        orderSettings: Object
    },
    computed: {
        filteredProductList() {
            return this.categories.map(category => {
                let products = category.products.filter(product => {
                    return product.name
                        .toLowerCase()
                        .includes(this.searchQuery.toLowerCase());
                });
                return { ...category, products };
            });
        },
        ...mapGetters(["products", "searchQuery"])
    },

    updated() {
        if (this.errors) {
            this.$store.commit(SET_ERRORS, this.errors);
        }
    }
};
</script>

<style scoped>
@media (min-width: 768px) {
    .content {
        width: calc(100% - var(--cart-width));
    }
}
</style>
