<template>
    <div
        class="px-6 py-5 bg-orange-50 border border-gray-200 rounded text-left w-full"
    >
        <p class="content w-full">
            <slot></slot>
        </p>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
