<template>
    <div>
        <button
            v-on:click="addToCart"
            class="p-2 border-l border-b border-gray-200 hover:bg-blue-600 hover:text-white text-blue-600"
        >
            <svg
                class="w-6 h-6 "
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                ></path>
            </svg>
        </button>
    </div>
</template>

<script>
import { ADD_TO_CART } from "../../store/actions.type";
export default {
    props: {
        product: Object
    },
    methods: {
        addToCart() {
            this.$store.dispatch(ADD_TO_CART, this.product);
        },
        removeFromCart() {}
    }
};
</script>

<style></style>
