<template>
    <div class="w-full">
        <div class="w-full" v-for="category in categories" :key="category.key">
            <div
                v-show="category.products != 0"
                :id="`category_${category.name}`"
            >
                <category-header>{{ category.name }}</category-header>
            </div>
            <div
                class="my-3"
                v-for="product in category.products"
                :key="product.id"
            >
                <product :product="product" />
            </div>
        </div>
    </div>
</template>

<script>
import CategoryHeader from "./CategoryHeader.vue";
import Product from "./Product";
export default {
    components: { CategoryHeader, Product },
    props: {
        categories: Array
    },
    mounted() {
        console.log(this.categories);
    }
};
</script>

<style></style>
