<template>
    <div
        class="flex flex-row justify-between border border-gray-200 rounded-sm "
    >
        <div class="flex flex-row p-2">
            <!--  <img :src="product.image_url" /> -->
            <div class="text-left ml-2">
                <p class="content text-base">{{ product.name }}</p>
                <p class="support text-xs w-8/12">{{ product.description }}</p>
                <span class="block text-orange-400 font-semibold text-base mt-2"
                    ><span class="mr-1">&euro;</span
                    >{{ product.price | toFixed(2) }}</span
                >
            </div>
        </div>
        <product-actions :product="product" />
    </div>
</template>

<script>
import ProductActions from "./ProductActions.vue";
export default {
    components: {
        ProductActions
    },
    props: {
        product: Object
    }
};
</script>

<style></style>
