.btn {
    @apply px-3 py-2 rounded  whitespace-no-wrap transition duration-150 ease-in-out;
    &:disabled {
        @apply bg-gray-300;
    }
}

.btn-indigo {
    @apply bg-indigo-600 text-white;
    &:hover,
    &:focus {
        @apply outline-none shadow-outline-blue border-indigo-300;
    }
}

.btn-blue {
    @apply bg-blue-500 text-white;
    &:hover,
    &:focus {
        @apply outline-none shadow-outline-blue border-blue-300;
    }
}

.btn-green {
    @apply bg-green-500 text-white;
    &:hover,
    &:focus {
        @apply outline-none shadow-outline-green border-green-300;
    }
}

.btn-red {
    @apply bg-red-500 text-white;
}

.btn-secondary {
    @apply border-gray-300 border text-gray-700 bg-white;
    &:hover {
        @apply text-gray-500 outline-none shadow-outline-blue border-blue-300;
    }
    &:focus {
        @apply outline-none shadow-outline-blue border-blue-300;
    }
    &:active {
        @apply text-gray-800 bg-gray-50;
    }
}
