.table {
    @apply w-full whitespace-no-wrap;
}

.th-row {
    @apply text-left font-bold;
}

.th {
    @apply px-6 pt-6 pb-4;
}

.tr {
    &:hover,
    &:focus-within {
        @apply bg-gray-100;
    }
}

.td {
    @apply border-t px-4 py-3;
}
