<template>
    <div>
        <div class="w-30 flex items-center justify-center">
            <div class="mr-3 flex items-center">
                <button
                    v-on:click="removeFromCart"
                    class="border px-1 py-1 rounded border-gray-400 mr-1"
                >
                    <svg
                        class="w-3 h-3"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M20 12H4"
                        ></path>
                    </svg>
                </button>
                <button
                    v-on:click="addToCart"
                    class="border px-1 rounded border-gray-400 py-1 ml-1"
                >
                    <svg
                        class="w-3 h-3"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                        ></path>
                    </svg>
                </button>
            </div>
            <button class="mr-1" v-on:click="clearProductFromCart">
                <svg
                    class="w-4 h-4 text-blue-600"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    ></path>
                </svg>
            </button>
        </div>
    </div>
</template>
<script>
import {
    ADD_INSTRUCTIONS,
    ADD_TO_CART,
    REMOVE_ENTIRE_FROM_CART,
    REMOVE_FROM_CART
} from "../../store/actions.type";
export default {
    props: {
        product: Object
    },
    data() {
        return {
            show: false,
            instructions: ""
        };
    },
    methods: {
        addToCart() {
            this.$store.dispatch(ADD_TO_CART, this.product);
        },
        removeFromCart() {
            this.$store.dispatch(REMOVE_FROM_CART, this.product);
        },
        clearProductFromCart() {
            this.$store.dispatch(REMOVE_ENTIRE_FROM_CART, this.product);
        },
        addInstructions() {
            this.$store.dispatch(ADD_INSTRUCTIONS, {
                product: this.product,
                instructions: this.instructions
            });
        }
    }
};
</script>

<style></style>
