<template>
    <div class="relative ">
        <div
            v-if="show"
            class="z-40  overflow-y-scroll bg-white right-0  h-full  w-full  basket fixed cart md:right-0 md:top-0"
        >
            <div class="flex flex-col  justify-start ">
                <div
                    class="flex justify-between md:justify-center items-center border-b border-gray-100 px-3"
                >
                    <div></div>
                    <h2 class="py-5 font-bold  text-gray-600  ">
                        Winkelmandje
                    </h2>
                    <button
                        @click="toggleBasket"
                        class="inline-block md:hidden"
                    >
                        <svg
                            class="w-5 h-5 self-start"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </button>
                </div>
                <div class="px-3 h-full border-b py-1">
                    <div v-if="products.length != 0">
                        <div v-for="product in products" :key="product.id">
                            <cart-product :product="product" />
                        </div>
                    </div>
                    <div
                        v-else
                        class="flex items-center w-10/12 mx-auto flex-col h-32 justify-center text-sm text-center text-gray-500 "
                    >
                        <svg
                            class="w-10 h-10 mb-3"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                            ></path>
                        </svg>
                        <p>
                            Kies iets lekkers uit het menu en plaats je
                            bestelling.
                        </p>
                    </div>
                </div>

                <delivery-form />
                <div class="px-3 text-sm">
                    <cart-sum :orderSettings="orderSettings" />
                </div>
            </div>
        </div>
        <div
            v-show="productCount != 0"
            class="fixed bottom-0 left-0 right-0 mb-1 mx-3 md:hidden"
        >
            <button
                class="font-bold leading-6 flex items-center justify-between text-md btn btn-blue w-full  "
                @click="toggleBasket"
            >
                <div class="flex items-center">
                    <div>
                        <svg
                            class="w-8 h-8"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </div>
                    <div
                        class="-ml-5 -mb-5  bg-orange-400 rounded-full px-2 text-xs"
                    >
                        {{ productCount }}
                    </div>
                </div>
                Winkelmandje (€
                {{ Number(total) | toFixed(2) }})
                <div></div>
            </button>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import DeliveryForm from "../DeliveryForm/DeliveryForm.vue";
import CartProduct from "./CartProduct.vue";
import CartSum from "./CartSum.vue";
export default {
    components: { CartProduct, CartSum, DeliveryForm },
    props: {
        products: Array,
        orderSettings: Object
    },
    data() {
        return { show: true };
    },
    computed: {
        ...mapGetters(["subTotal", "productCount", "productIds", "form"]),
        isDeliveryFree() {
            return (
                this.subTotal >
                Number(this.orderSettings.minimum_order_free_delivery)
            );
        },
        total() {
            return this.isDeliveryFree
                ? this.subTotal
                : this.subTotal + Number(this.orderSettings.delivery_fee);
        }
    },
    mounted() {
        const md = 768;
        let viewportWidth = window.innerWidth;
        if (viewportWidth < md) {
            this.show = false;
        }
    },
    methods: {
        placeOrder() {
            this.$inertia.post("/order", {
                products: productsIds,
                customer_name: form.name,
                phone_number: form.contactNumber,
                address: form.addressOne,
                address_two: form.addressTwo
            });
        },
        toggleBasket() {
            this.show = !this.show;
            //To ensure we can scroll within the overlay, we toggle a class that prevents scrolling when the basket is open
            if (this.show) {
                document.body.classList.add("no-scrollable");
            } else {
                document.body.classList.remove("no-scrollable");
            }
        }
    }
};
</script>

<style>
.basket {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
    .cart {
        width: var(--cart-width);
    }
}
body.no-scrollable {
    overflow: hidden;
}
</style>
