<template>
    <div class="my-3">
        <div class=" row  text-sm text-gray-900 font-medium">
            <span class="pr-8 w-5">{{ product.quantity }}x</span>
            <span class="w-full py-2 break-words flex-1">{{
                product.name
            }}</span>

            <cart-product-actions :product="product" />
            <span class="ml-1 text-right whitespace-nowrap"
                ><span class="mr-1">&euro;</span
                >{{
                    Number(product.quantity * product.price) | toFixed(2)
                }}</span
            >
        </div>
    </div>
</template>

<script>
import CartProductActions from "./CartProductActions.vue";
export default {
    components: { CartProductActions },
    props: {
        product: Object
    }
};
</script>

<style></style>
