<template>
    <div class="text-gray-600  py-5 font-medium">
        <div class="row  py-1 w-full">
            <span class="w-full text-left">Subtotaal</span>
            <span class="w-20 text-right"
                ><span class="mr-1">&euro;</span
                >{{ Number(subTotal) | toFixed(2) }}</span
            >
        </div>
        <div
            class="row py-1 w-full"
            v-if="orderSettings.delivery_fee && !isDeliveryFree"
        >
            <span class="w-full text-left">Bezorgkosten</span>
            <span class="w-20 text-right"
                ><span class="mr-1">&euro;</span
                >{{ Number(orderSettings.delivery_fee) | toFixed(2) }}</span
            >
        </div>
        <div
            class="row my-1 py-1 w-full text-black font-bold"
            v-if="orderSettings.delivery_fee"
        >
            <span class="w-full text-left">Totaal</span>
            <span class="w-20 text-right"
                ><span class="mr-1">&euro;</span
                >{{ Number(total) | toFixed(2) }}</span
            >
        </div>
        <div
            v-if="canOrder && subTotal != 0"
            class="row my-1 py-1 w-full text-green-500 font-bold"
        >
            <span class="w-full text-left">Nog te moeten besteden</span>
            <span class="w-20 text-right"
                ><span class="mr-1">&euro;</span
                >{{
                    Math.abs(
                        Number(
                            subTotal -
                                Number(orderSettings.minimum_order_delivery)
                        )
                    ) | toFixed(2)
                }}</span
            >
        </div>
        <div class="pt-5 text-center h-full " v-if="canOrder">
            <p>
                Helaas, je kunt nog niet bestellen. Het minimum bestelbedrag is:
                €
                {{ orderSettings.minimum_order_delivery | toFixed(2) }} (excl.
                bezorgkosten)
            </p>
        </div>

        <div
            class="left-0 w-full px-1  md:px-0 md:pb-0 right-0 bottom-0 md:relative md:block"
        >
            <button
                :disabled="canOrder"
                @click.prevent="placeOrder"
                class="text-lg  inline-flex btn btn-blue justify-center items-center w-full font-semibold  mt-3 h-12"
            >
                Plaats bestelling
            </button>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    props: {
        orderSettings: Object,
        errors: Object
    },
    computed: {
        ...mapGetters([
            "subTotal",
            "productCount",
            "products",
            "form",
            "productIds"
        ]),
        canOrder() {
            return this.subTotal < this.orderSettings.minimum_order_delivery;
        },
        isDeliveryFree() {
            return (
                this.subTotal >
                Number(this.orderSettings.minimum_order_free_delivery)
            );
        },
        total() {
            return this.isDeliveryFree
                ? this.subTotal
                : this.subTotal + Number(this.orderSettings.delivery_fee);
        }
    },
    methods: {
        placeOrder() {
            this.$inertia.post("/order", {
                products: this.productIds,
                customer_name: this.form.name,
                phone_number: this.form.contactNumber,
                address: this.form.address,
                zip_code: this.form.zipCode,
                email: this.form.email,
                city: this.form.city
            });
        }
    }
};
</script>

<style></style>
