<template>
    <nav
        class="flex border-b border-t border-gray-200 bg-orange-50 items-start overflow-y-auto mb-4"
    >
        <ul
            class="mx-auto max-w-screen-xl flex items-center relative justify-start px-2 md:px-8 py-3 rounded text-left w-full"
        >
            <li v-if="!isSearchOpen" class=" flex flex-none justify-start">
                <button v-on:click="toggleSearchBar" class="focus:outline-none">
                    <svg
                        class="w-5 h-5 mr-3 font-bold"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                        ></path>
                    </svg>
                </button>
            </li>
            <li
                v-show="isSearchOpen"
                class="flex flex-none justify-start   w-full"
            >
                <div
                    class="flex items-center border bg-white w-full focus:outline-none"
                >
                    <input
                        class="w-full ml-2 px-1 py-2 text-sm focus:outline-none"
                        type="text"
                        placeholder="Zoek voor maaltijden, etc.."
                        v-model="searchQuery"
                        ref="search"
                    />
                    <button
                        v-on:click="toggleSearchBar"
                        class="px-1 border-l bg-white focus:outline-none"
                    >
                        <svg
                            class="w-6 h-6 "
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            ></path>
                        </svg>
                    </button>
                </div>
            </li>
            <div class="flex items-center w-full" v-if="!isSearchOpen">
                <scrollactive
                    :highlightFirstItem="true"
                    :offset="80"
                    class="flex items-center"
                    active-class="text-orange-400"
                    v-on:itemchanged="onItemChanged"
                >
                    <li
                        class="mr-4 flex flex-none justify-start py-2 text-sm"
                        v-for="category in categories"
                        :key="category.id"
                    >
                        <menu-link :href="`#category_${category.name}`">{{
                            category.name
                        }}</menu-link>
                    </li>
                </scrollactive>
            </div>
        </ul>
    </nav>
</template>

<script>
import MenuLink from "./MenuLink.vue";

export default {
    components: {
        MenuLink
    },
    props: {
        categories: Array
    },
    data() {
        return {
            isSearchOpen: false,
            activeLink: ""
        };
    },
    computed: {
        searchQuery: {
            get() {
                return this.$store.state.searchQuery;
            },
            set(value) {
                this.$store.dispatch("setSearchQuery", value);
            }
        }
    },
    methods: {
        toggleSearchBar() {
            this.isSearchOpen = !this.isSearchOpen;
            //Wait for next tick to ensure element is rendered before focusing
            this.$nextTick(() => {
                this.$refs.search.focus();
            });
            this.$store.dispatch("setSearchQuery", "");
        },
        onItemChanged(event, currentItem) {
            // here you have access to everything you need regarding that event
            console.log(currentItem);
        }
    }
};
</script>

<style></style>
