<template>
    <component
        :is="type"
        :href="href"
        :to="to"
        :class="[active ? 'text-orange-400' : '']"
        class=" font-light text-gray-600 scrollactive-item"
        ><slot></slot
    ></component>
</template>

<script>
export default {
    props: {
        active: Boolean,
        href: String,
        to: String
    },

    computed: {
        type() {
            if (this.href) {
                return "a";
            } else if (this.to) {
                return "router-link";
            }
            return "button";
        }
    }
};
</script>

<style></style>
