<template>
    <div
        v-bind:style="{ 'background-image': 'url(' + image_url + ')' }"
        class="z-0 bg-cover bg-no-repeat w-full hero"
    ></div>
</template>

<script>
export default {
    props: {
        image_url: {
            type: String,
            default:
                "https://static.thuisbezorgd.nl/images/chains/nl/mcdonalds/headers/header.jpg"
        }
    }
};
</script>

<style scoped>
.hero {
    height: 112px;
}
</style>
