<template>
    <div class="">
        <div class="flex ">
            <h1 class="text-gray-900 font-bold text-2xl">{{ name }}</h1>
        </div>
        <p class="support flex justify-start">
            {{ street + ", " + zipCode + " " + city }}
        </p>
    </div>
</template>

<script>
export default {
    props: {
        street: String,
        zipCode: String,
        city: String,
        name: String
    }
};
</script>

<style></style>
