<template>
    <header class="w-full">
        <hero-image />
        <div>
            <div class="flex justify-center -mt-12">
                <logo />
            </div>
            <div
                class="flex flex-col items-start px-2 md:px-8 max-w-screen-xl mx-auto mb-5 "
            >
                <hero-information
                    :name="shopSettings.name"
                    :street="shopSettings.street"
                    :zipCode="shopSettings.zip_code"
                    :city="shopSettings.city"
                />
            </div>
        </div>
    </header>
</template>

<script>
import HeroImage from "./HeroImage.vue";
import HeroInformation from "./HeroInformation.vue";
import Logo from "./Logo.vue";
export default {
    components: { HeroInformation, HeroImage, Logo },

    props: {
        shopSettings: Object
    }
};
</script>

<style></style>
