<template>
    <div
        class="h-24 w-24 rounded-full bg-white border flex justify-center items-center"
    >
        <img
            class="logo w-10/12 h-auto"
            src="https://static.thuisbezorgd.nl/images/chains/nl/mcdonalds/logo_465x320.png"
            alt=""
        />
    </div>
</template>

<script>
export default {};
</script>

<style scoped>
.logo {
}
</style>
